#c{background-color: rgb(38, 154, 207);}
#a{background-color: rgb(39, 166, 189);}
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(15, 15, 15);
    overflow: hidden;
    display: flex;
  justify-content: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #1339b6;
    color: white;
  }
  body{background-color: rgb(39, 166, 189);}